<div class="container-fluid">

    <div class="row top-row-navigation">
        <div class="col-md-6 col-md-offset-3 align-right">

            <button class="main-btn"> Nieuwe App</button>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="col-md-12 app-wrapper">
                <div class="app-top-section">
                    <div class="input-wrapper disable-shrink">
                        <input type="text" class='inp-head-name' value="App naam 1">
                        <i class="fa fa-repeat input-saving-overlay hidden"></i>

                    </div>
                    <span><i class="fa fa-times " aria-hidden="true"></i></span>


                </div>
                <div class="app-center-section">
                    <div class="form-group">
                        <label for="inp-access-token">
                            Wit.ai access token
                        </label>

                        <div class="input-wrapper see-password-input">
                            <i class="fa fa-eye password-eye-icon" aria-hidden="true"></i>
                            <input id="inp-access-token" class="default-input inp-loading" type="password" >
                            <i class="fa fa-repeat input-saving-overlay hidden"></i>
                        </div>
                        <div class="input-error">
                            <div class="no-error"><i class="fa fa-times " aria-hidden="true"></i> Dit is een input error verander my om een error weer te geven </div>
                            <div class="no-error"><i class="fa fa-times " aria-hidden="true"></i> Dit is een input error verander my om een error weer te geven </div>
                            <div class="no-error"><i class="fa fa-times " aria-hidden="true"></i> Dit is een input error verander my om een error weer te geven </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp-dev-token">
                            Wit.ai developers token
                        </label>

                        <div class="input-wrapper see-password-input">
                            <i class="fa fa-eye password-eye-icon" aria-hidden="true"></i>
                            <input id="inp-dev-token" class="default-input " type="password">
                            <i class="fa fa-repeat input-saving-overlay hidden"></i>
                        </div>
                    </div>
                </div>
                <div class="app-footer-section">
                    <button class="main-btn">Embedden</button>
                    <button class="main-btn">Selecteer</button>
                </div>
            </div>

            <div class="col-md-12 app-wrapper">
                <div class="app-top-section">
                    <div class="input-wrapper disable-shrink">
                        <input type="text" class='inp-head-name' value="App naam 1">
                        <i class="fa fa-repeat input-saving-overlay hidden"></i>
                    </div>
                    <span><i class="fa fa-times " aria-hidden="true"></i></span>

                </div>
                <div class="app-center-section">
                    <div class="form-group">
                        <label for="inp-access-token">
                            Wit.ai access token
                        </label>

                        <div class="input-wrapper see-password-input">
                            <i class="fa fa-eye password-eye-icon" aria-hidden="true"></i>
                            <input id="inp-access-token" class="inp-loading" type="password" >
                            <i class="fa fa-repeat input-saving-overlay hidden"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp-dev-token">
                            Wit.ai developers token
                        </label>

                        <div class="input-wrapper see-password-input">
                            <i class="fa fa-eye password-eye-icon" aria-hidden="true"></i>
                            <input id="inp-dev-token" class="" type="password">
                            <i class="fa fa-repeat input-saving-overlay hidden"></i>
                        </div>
                    </div>
                </div>
                <div class="app-footer-section">
                    <button class="main-btn">Embedden</button>
                    <button class="main-btn">Selecteer</button>
                </div>
            </div>

            <div class="col-md-12 app-wrapper">
                <div class="app-top-section">
                    <div class="input-wrapper disable-shrink">
                        <input type="text" class='inp-head-name' value="App naam 1">
                        <i class="fa fa-repeat input-saving-overlay hidden"></i>
                    </div>
                    <span><i class="fa fa-times " aria-hidden="true"></i></span>

                </div>
                <div class="app-center-section">
                    <div class="form-group">
                        <label for="inp-access-token">
                            Wit.ai access token
                        </label>

                        <div class="input-wrapper see-password-input">
                            <i class="fa fa-eye password-eye-icon" aria-hidden="true"></i>
                            <input id="inp-access-token" class="inp-loading" type="password" >
                            <i class="fa fa-repeat input-saving-overlay hidden"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp-dev-token">
                            Wit.ai developers token
                        </label>

                        <div class="input-wrapper see-password-input">
                            <i class="fa fa-eye password-eye-icon" aria-hidden="true"></i>
                            <input id="inp-dev-token" class="" type="password">
                            <i class="fa fa-repeat input-saving-overlay hidden"></i>
                        </div>
                    </div>
                </div>
                <div class="app-footer-section">
                    <button class="main-btn">Embedden</button>
                    <button class="main-btn">Selecteer</button>
                </div>
            </div>

            <div class="col-md-12 app-wrapper">
                <div class="app-top-section">
                    <div class="input-wrapper disable-shrink">
                        <input type="text" class='inp-head-name' value="App naam 1">
                        <i class="fa fa-repeat input-saving-overlay hidden"></i>
                    </div>
                    <span><i class="fa fa-times " aria-hidden="true"></i></span>

                </div>
                <div class="app-center-section">
                    <div class="form-group">
                        <label for="inp-access-token">
                            Wit.ai access token
                        </label>

                        <div class="input-wrapper see-password-input">
                            <i class="fa fa-eye password-eye-icon" aria-hidden="true"></i>
                            <input id="inp-access-token" class="inp-loading" type="password" >
                            <i class="fa fa-repeat input-saving-overlay hidden"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp-dev-token">
                            Wit.ai developers token
                        </label>

                        <div class="input-wrapper see-password-input">
                            <i class="fa fa-eye password-eye-icon" aria-hidden="true"></i>
                            <input id="inp-dev-token" class="" type="password">
                            <i class="fa fa-repeat input-saving-overlay hidden"></i>
                        </div>
                    </div>
                </div>
                <div class="app-footer-section">
                    <button class="main-btn">Embedden</button>
                    <button class="main-btn">Selecteer</button>
                </div>
            </div>

            <div class="col-md-12 app-wrapper">
                <div class="app-top-section">
                    <div class="input-wrapper disable-shrink">
                        <input type="text" class='inp-head-name' value="App naam 1">
                        <i class="fa fa-repeat input-saving-overlay hidden"></i>
                    </div>
                    <span><i class="fa fa-times " aria-hidden="true"></i></span>

                </div>
                <div class="app-center-section">
                    <div class="form-group">
                        <label for="inp-access-token">
                            Wit.ai access token
                        </label>

                        <div class="input-wrapper see-password-input">
                            <i class="fa fa-eye password-eye-icon" aria-hidden="true"></i>
                            <input id="inp-access-token" class="inp-loading" type="password" >
                            <i class="fa fa-repeat input-saving-overlay hidden"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp-dev-token">
                            Wit.ai developers token
                        </label>

                        <div class="input-wrapper see-password-input">
                            <i class="fa fa-eye password-eye-icon" aria-hidden="true"></i>
                            <input id="inp-dev-token" class="" type="password">
                            <i class="fa fa-repeat input-saving-overlay hidden"></i>
                        </div>
                    </div>
                </div>
                <div class="app-footer-section">
                    <button class="main-btn">Embedden</button>
                    <button class="main-btn">Selecteer</button>
                </div>
            </div>

            <div class="col-md-12 app-wrapper">
                <div class="app-top-section">
                    <div class="input-wrapper disable-shrink">
                        <input type="text" class='inp-head-name' value="App naam 1">
                        <i class="fa fa-repeat input-saving-overlay hidden"></i>
                    </div>
                    <span><i class="fa fa-times " aria-hidden="true"></i></span>

                </div>
                <div class="app-center-section">
                    <div class="form-group">
                        <label for="inp-access-token">
                            Wit.ai access token
                        </label>

                        <div class="input-wrapper see-password-input">
                            <i class="fa fa-eye password-eye-icon" aria-hidden="true"></i>
                            <input id="inp-access-token" class="inp-loading" type="password" >
                            <i class="fa fa-repeat input-saving-overlay hidden"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp-dev-token">
                            Wit.ai developers token
                        </label>

                        <div class="input-wrapper see-password-input">
                            <i class="fa fa-eye password-eye-icon" aria-hidden="true"></i>
                            <input id="inp-dev-token" class="" type="password">
                            <i class="fa fa-repeat input-saving-overlay hidden"></i>
                        </div>
                    </div>
                </div>
                <div class="app-footer-section">
                    <button class="main-btn">Embedden</button>
                    <button class="main-btn">Selecteer</button>
                </div>
            </div>






        </div>
    </div>

</div>
</div>
