$main-font: 'Roboto', sans-serif;

$main-color: #4ca78c;
$font-color-grey: #a4aab6;
$font-color-dark-grey: #5e5e5e;
$font-color-subtile-white: #e1e1e1;

$main-blue-tint: #2d333f;
$main-dark-blue-tint: #242a37;
$main-light-blue-tint: #353b49;

$main-white-tint: #f3f4f9;

$main-error-red: #ff625d;

$font-size-1 : 13px;
$font-size-2 : 16px;



