.app-wrapper{
  background-color: #fff;
  margin-bottom: 40px;
  box-shadow: 4px 8px 15px  rgba(0, 0, 0, 0.3);
  padding: 15px;
  > div:not(:last-child){
    margin-bottom: 15px;
  }
  .app-top-section{
  h2{
    font-size: 30px;
    color: $font-color-dark-grey;
  }
    i{
      color: $main-error-red;
    }
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .app-center-section{
    input{
      width: 100%;
    }
  }

  .app-footer-section{
    text-align: right;
  }
}


@media only screen and (max-width: 767px) {
  .app-wrapper{
    padding: 15px;
  }

  .app-top-section{
   input{
     font-size: 20px;
   }
  }
}