#flowchart-menu{
  position: absolute;
  right: 25px;
  bottom: 25px;


  .toggle-menu{
    float:right;
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-size: 40px;
    background: $main-color;
    color: $font-color-subtile-white;
    z-index: 15;
  }

  .toggle-menu-collapse{
    z-index: 14;
    position: absolute;
    height: 80px;
    left: -173px;
    top: 0;
    overflow:hidden;

  }

  .toggle-menu-close{
    cursor: pointer;
    display:block;
    height: 80px;
    width: 20px;
    float:left;
    background: $main-color;
    >div{
      height: 80px;
      width: 20px;
      display:flex;
      justify-content: center;
      align-items: center;
      color: $font-color-subtile-white;
    }




  }
.toggle-content-wrapper{
  position: relative;
  width:auto;
  left: 0;
  transition: 0.2s;
  &.toggle-animation{
    left:300px ;
  }
}
  .toggle-menu-content{
    padding: 5px;
    display:block;
    float:right;
    height: 80px;
    width: auto;
    background: #fff;


  }
}

.active-intent-color{
  color: $main-color;
}
.inactive-intent-color{
  color: $main-error-red;
}

.state-type-keyword{
  .flowchart-operator-title{
    background: #ffdb71;
  }

}
.state-type-free-input{
  .flowchart-operator-title{
    background: #afd6ff;
  }
}
.start_state{
  .flowchart-operator-title{
    background: #393939;
    color:white;
  }
}

.drag-intent, .drag-keyword{
  height: 70px;
  width: 70px;
  font-size: $font-size-2;
  font-weight: bold;
  display:inline-flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;

}

/*
old version
.drag-intent{
  border: 2px solid #373737;
  background: #373737;
  color: #fff;
}*/
.drag-intent{
  border: 2px solid $main-color;
  background: $main-color;
  color: #fff;
}
.drag-keyword{
  border: 2px solid #ffbc45;
  background: #ffbc45;
  color: #fff;
}

.add-flowchart{
  position: absolute;
  bottom: 25px;
  left: 25px;
}