#flowchart-popup, #flowchart-popup-intent{

  &.small-popup{
    height: auto !important;
    top: 25%;
    hr{
      padding: 0;
    }
  }
  width: 500px;
  height:600px;
  background: #fff;
  position: absolute;
  z-index: 15;
  left: calc(50% - 250px);
  top: 75px;
  box-shadow: 4px 8px 15px  rgba(0, 0, 0, 0.3);


  input{
    width: 100%;
  }
  .popup-wrapper{
    position:relative;
    width: 100%;

    max-height: 520px;
    overflow-y: scroll;

    padding: 15px;
    >hr{
      margin: 0 0;
      margin-bottom: 15px;
    }
  }
  >hr{
    margin: 0 15px;
  }
  .popup-title{
    padding:15px;
    height: 80px;
    display:flex;
    align-items: center;
    h2{
      flex: 2;
    }
    i{
      color: $main-error-red;
    }

  }
}

.entity-select-wrapper{
  margin: 0 !important;
}
#flowchart-popup-intent{
  z-index: 16;

  .styled-input{
    padding: 5px;
    border: 2px solid $font-color-grey;
    height: 100%;
    //white-space: nowrap;
    overflow: hidden;
    .entity-span{

      &.span-dark{
        background: $font-color-grey;
      }
      background: $font-color-subtile-white;
      padding: 2px;
      cursor: pointer;
      position: relative;

    }
  }

.intent-content{
  .form-group{
    display:flex;
    >div{
      margin-right: 5px;
      flex: 2;
    }
    .main-btn{
      margin-right: 5px;
    }
  }
}

}
.fast-entity-popup{
  .delete-entity{
    text-align: center;
    button{
      width: 100%;
    }
  }

  .form-group{
    margin-bottom: 0 !important;
  }
  &.soft-show{
    z-index: 50;
  }
  .fast-entity-top{
    width: 100%;
    display: flex;

    h3{
      flex:2
    }
    i{
      color: $main-error-red;
    }
  }
  position: absolute;
  left: 0 ;
  top: 0;
  width: 250px;
  height: 220px;
  margin-top: -165px;
  z-index: -1;
  border: 4px solid $main-color;
  &:after{
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $main-color;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
  }
  input{
    width: 100%;
  }
}
.found-intent{
display:flex;
  justify-content: space-between;
  background: $font-color-subtile-white;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
/*  .main-btn{
    padding: 2px 5px;
    font-size: 15px;
  }*/
  .confidence-intent{
    display:inline-block;
    font-size: $font-size-2;
    color: $font-color-grey;
    border: 2px solid $font-color-grey;
    padding: 5px 5px;
  }
  span{


    font-size: $font-size-2;
  }
}

.popup-wrapper{
  max-width: 100%;
  overflow: hidden;
}

.span-option{
  color: $main-color;
  cursor: pointer;
  text-align: right;
}

.current-active-intent{
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  background: $font-color-subtile-white;
/*  .main-btn{
    padding: 2px 5px;
    font-size: 15px;
  }*/
  i{
    padding-left: 5px;
    color:$main-error-red;
    cursor: pointer;
  }
}
.new-intent{
  display: flex;
  padding: 5px;
  align-items: center;
  background: $font-color-subtile-white;
/*  .main-btn{
    padding: 2px 5px;
    font-size: 15px;
  }*/
  input{
    flex:2;
    background: #fff !important;
  }
  button{

    margin-left: 5px;
  }
  >i{
   padding-left: 5px;
    color:$main-error-red;
    cursor: pointer;
  }
}

.intent-train-options{
  text-align: right;
}

.training-info{
  i{
    cursor: pointer;
  }
  display:flex;
  font-size: 11px;
  .closing-training-info{
    flex: 2;
    text-align: right;
  }
  margin-top: 5px;
  border: 2px solid $main-color;
  padding: 5px;
  color: $main-color;
}

.messages-wrapper{
  i{
    cursor: pointer;
  }
  position: relative;
  text-align: right;
  font-weight: bold;
  color: $main-color;
  span{
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    right:-3px;
    top:-3px;
  }
}

