*{
  font-family: $main-font;
}

body{
  background-image: url('/afstuderen/babbelbot/public/img/background/darkblue.jpg');
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */

}

