.select2-selection{
  display: flex !important;
  align-items: center !important;
  height: 35px !important;
  border: 2px solid $font-color-grey !important;
  border-radius: 0 !important;
  background: none !important;


  font-size: $font-size-2 !important;

  &:focus {
   outline: none !important;
  }
}
/*.select2-container{
  width: 100% !important;

}*/
.select2-selection__arrow{
  height: 95% !important ;
}
/*
.select2-selection__rendered{
  padding: 5px !important;
}*/


.wide-tooltip{
  min-width: 300px;
  height: auto;
}

.large-text-tt-1{
  min-height: 150px
}
.large-text-tt-2{
  min-height:100px
}