.navbar{
  width: 100%;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 3;

}
.logout-red{
  a{
    color: $main-error-red !important;
    border:2px solid $main-error-red !important;
  }

}
.logged-in-user{
  color: $main-color;

  font-size: $font-size-1;
  font-weight: 600;
  text-transform: uppercase;
}
.vertical-seperator{
  height:100%;
  margin: 0 15px;
  color: $main-color;
  background: $main-color;
}
.navbar-inner{

  display: flex;
  align-items: center;
  justify-content: space-between;

#nav-logo img{
  width: 200px;
}
  ul.nav{
    display: flex;
    justify-content: center;
    align-items: center;


    li{
      a{
        color: $main-color;
        font-size: $font-size-1;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 15px;
        padding: 5px;
        border:2px solid $main-color;
      }
      display: inline
    }
  }
}
.burger-main{
  .burger{
    color: $main-color;
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar{
    padding:0;
    background: $main-light-blue-tint;
  }
  .burger-main{
    display:block ;

  }
  .navbar .navbar-inner .nav{
    margin: 0;
    .logged-in-user{
      text-align: center;
    }
    background: $main-blue-tint;
    width: 100%;
    display:none ;
    position: absolute;
    top:60px;
    left:0;
    li:nth-child(even){
      background: $main-light-blue-tint;
    }

    li{
      padding: 15px !important;

      a{
        margin: 0 !important;
        font-size: 18px !important;
        display:block;
      }
      width: 100% ;
      display:block ;
    }
  }
  .navbar-inner{
    padding: 15px;
    position: relative;
  }
}
@media only screen and (min-width: 768px) {
  .burger-main{
    display:none;
  }
}

.background-gradient{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 200px;

  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


